::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f1f1;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* On hover, thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}