@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[38px] font-medium leading-[46px];
  }
  h2 {
    @apply text-3xl font-medium leading-[40px];
  }
  h3 {
    @apply text-2xl font-medium;
  }
  h4 {
    @apply text-lg font-medium;
  }
  h5 {
    @apply text-base font-medium;
  }
}

@layer components {
  .h-fill {
    @apply h-[calc(100vh_-_127px)];
  }
  .wrapper {
    @apply bg-white m-0 md:mx-6 md:mt-4 md:mb-4 border rounded-lg;
  }
  .subject-entry {
    @apply px-8 py-3.5 h-20 text-center bg-white border-2 text-primary border-primary rounded-sm leading-tight;
  }
  .subject-entry-active {
    @apply bg-primary text-white transition-colors duration-300 ease-in-out;
  }
}


/* Drag and Drop */

.dnd-item {
  padding: 12px;
  width: 100%;
  font-size: 14px;
  background-color: #e0e0e4;
  border-radius: 4px;
  cursor: grabbing;
}
.dnd-item:first-child {
  margin-top: 0.5rem;
}
.dnd-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

/* Hiding html number type default styling */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f1f1;
}
/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
/* On hover, thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}